<!DOCTYPE html>
<html>
	<head>
		<title>D-D-D-Duel !!!</title>
		<script type="text/javascript" src="/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="./lib/jquery.min.js"></script>
		<script type="text/javascript" src="./actions.js"></script>
		<script type="text/javascript" src="./composants.js"></script>
		<script type="text/javascript" src="./actions_graphique.js"></script>
		<link rel="stylesheet" type="text/css" href="./css/game.css">
	</head>

	<body>
<%- include partials/header.ejs %>


		<%  var nbCases = 5; %>
		<div class="bloc">
		<% 
		for(var j=0;j<2;j++){
			for(var i = 0;i< nbCases;i++){
		%>
				<div   href="#" onClick="caseClic(<%= i %>,<%= j %>)" class="case" id="<%= 'case'+i+'j'+j %>" style="background:rgba(<%= j*180+i*25 %>,<%= j*180+i*5 %>,<%= 20+j*180+i*5 %>,1)"  ></div>
		<% } 
		}
		%>
		</div>
		<!-- Le 0 dans le socket.emit sera remplacé pour chaque carte par sa position dans la main -->
		<input type='button' name='jouerUneCarte' value='Jouer une carte' onclick='socket.emit("carteChoisie", 0)'/>
		<script type="text/javascript">
	
			console.log("ready!");
			drawCarte(new Carte("Saph","Envol","Saph et un allié sont immunisés pendant 2 tours."),"#case0j0");
			console.log("Le js se lance bien");
			var socket = io.connect('http://localhost:8080');
			socket.emit('rejoint');
			
			socket.on('rejointOK', function(pseudo, iCourant){
				console.log('rejointOK');
				document.title = pseudo + ' - ' + document.title;
				socket.iCourant = iCourant;
				socket.iAdverse = (iCourant+1)%2;
				socket.emit('rejointFini');			 	
			});

			socket.on('rejointNOK', function() {
				console.log('rejointNOK');
				console.log('échec de la connection à la partie');
			});

			socket.on('placements', function(indice, persos) {
				console.log('placements');
				var placements = [];
				for ( var i = 0; i < 3; i ++) {
					do {
						placements[i] = prompt('Quelle position pour ' + persos[i].nom + " ?");
					} while (placements[i] < 1 || placements[i] > 5);
				}
				console.log('placements choisis : ' + placements[0] + placements[1] + placements[2]);
				socket.emit('placementFini', indice, placements);
			});

			socket.on('message', function(message) {
				console.log(message);
			});

			socket.on('carteAJouer', function(carte) {
				jouer(carte);
			});

		</script>
	</body>
</html>