<!DOCTYPE html>
<html>
	<head>
		<title>D-D-D-Duel !!!</title>
		<link rel="stylesheet" type="text/css" href="../view/css/game.css">
		<script type="text/javascript" src="/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="./actions_client.js"></script>
		<script type="text/javascript" src="./composants.js"></script>
	</head>

	<body>
	<style type="text/css">
	header{
	width: 100%;
	height: 50px;
	background: #333;
	color: white;
	text-align: center;
}

.bloc{
	width:550px;
	height: 320px;
	background: #444;
	position: relative;
	margin: auto;
	margin-top: 5em;
}

.case{
	/*background:#eee;*/
	width:100px;
	height:150px;
	float:left;
	margin:5px;
	transition: all 0.4s;
}
.case:hover{
	transform:scale(1.1);
	transform:scale(1.1);
	-webkit-transform:scale(1.1);
}
</style>
		<header>
			HENS TCG OP POPO
		</header>
		<% var nbCases = 5; %>
		<div class="bloc">
		<% 
		for(var j=0;j<2;j++){
			for(var i = 0;i< nbCases;i++){
		%>
				<a   href="#" onClick="caseClic(<%= i %>,<%= j %>)" class="case" id="<%= 'case'+i+'j'+j %>" style="background:rgba(<%= j*180+i*25 %>,<%= j*180+i*5 %>,<%= 20+j*180+i*5 %>,1)"  ></a>
		<% } 
		}
		%>
		</div>
		<!-- Le 0 dans le socket.emit sera remplacé pour chaque carte par sa position dans la main -->
		<input type='button' name='jouerUneCarte' value='Jouer une carte' onclick='socket.emit("carteChoisie", 0)'/>
		<script type="text/javascript">

			function caseClic(indiceCase,joueur){ 
				console.log("case "+indiceCase+" du joueur "+joueur+".");
				socket.emit('clic', joueur, indiceCase);
			}

			console.log("Le js se lance bien");
			var socket = io.connect('http://localhost:8080');
			// var pseudo = prompt('Votre pseudo ?');

			// On envoie le pseudo pour vérifier si tout est bon
			// socket.emit('rejoint', pseudo);
			socket.emit('rejoint');
			socket.on('rejointOK', function(pseudo, iCourant){
				console.log('rejointOK');
				document.title = pseudo + ' - ' + document.title;
				socket.iCourant = iCourant;
				socket.iAdverse = (iCourant+1)%2;
				socket.emit('rejointFini');			 	
			});

			socket.on('rejointNOK', function() {
				console.log('rejointNOK');
				console.log('échec de la connection à la partie');
			});

			socket.on('placements', function(indice, persos) {
				console.log('placements');
				var placements = [];
				for ( var i = 0; i < 3; i ++) {
					do {
						placements[i] = prompt('Quelle position pour ' + persos[i].nom + " ?");
					} while (placements[i] < 1 || placements[i] > 5);
				}
				console.log('placements choisis : ' + placements[0] + placements[1] + placements[2]);
				socket.emit('placementFini', indice, placements);
			});

			socket.on('message', function(message) {
				console.log(message);
			});

			socket.on('carteAJouer', function(carte) {
				jouer(carte);
			});

		</script>
	</body>
</html>